body {
  color:#555
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

#header {
  background-color: #253B4A;
  height: 150px;
  line-height: 150px;
}

#header a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #FFBD08;
}

#header-title {
  display: block;
  float: left;
  font-size: 50px;
  font-weight: 900;
  padding-left: 50px;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  padding: 50px 100px;
}

#footer {
  background-color: #253B4A;
  padding: 50px;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

a {
  color: #FFBD08;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding:60px 0;
}

.post-title {
  font-size: 30px;
  font-weight: 600px;
  text-align: center;
}

.post-photo img {
  width: 960px;
  height: 540px;
  align: center;
  margin: auto;
} */

.post-author span {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
}

.post-datename {
  color: lightgray;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase
  letter-spacing: 0.1em;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

.post-content {
  font-style: normal;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}

.about {
  text-align: center;
}

.about-title {
  font-size: 900;

}
